<%= erb :header %>
<% @list.each do |entry| %>
  <form action='/entries/<%= entry.id %>' method='get'>
    <button class="button_link" type='submit' name='id' value='<%= entry.id %>'>
      <%= entry.title %>
    </button><br>
  </form>
<% end %>
<%= erb :home_button %>
